html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 2vw;
}

.number_of_items {
  color: white;
  user-select: none;
}

.search_item {
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 3px lightgray;
  user-select:none;
}

.container {
  display:flow-root;
  padding:0;
  margin:0;
  padding-right:10px;
  padding-bottom:inherit;
  background-color: black;
}

.container_itemtype {
  float: left;
  margin-top: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 3px lightgray;
}

.container_runes {
  float:left;
  margin-top: 50px;
  margin-left: 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 3px lightgray;
}

.container_runes:hover {
  cursor: pointer;
}

.form-check-input:hover {
  cursor: pointer;
}

.container_rune {
  display:flex;
  align-items: center;
  justify-content: left;
}

.btnrune {
  float:left;
  pointer-events: none;
  user-select: none;
  width: 40px;
}

.label_runes {
  display:flex;
  align-items:center;
  justify-content:center;
  user-select:none;
}

.label_rune {
  float:right;
  font-size:16px;
  user-select:none;
}

.label_rune:hover {
  cursor: pointer;
}

.form-check {
  user-select: none;
}

